<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuvora ❘ Gestión</title>
    <link rel="shortcut icon" href="../img/logo/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/gestion.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <header id="encabezado">
      <div class="contenedor-header">
        <a class="izq-item" href="home.html">
          <img
            class="logo-header"
            src="../img/logo/logo.svg"
            alt="Logo Principal del sitio web"
          />
          Nuvora
        </a>
      </div>
      <div class="mid-item">
        <input
          class="buscador"
          type="text"
          placeholder="Buscar productos, marcas y más..."
        />
        <ul class="links">
          <li>
            <a class="link" href="home.html">Inicio</a>
          </li>
          <li>
            <a class="link" href="categorias.html">Categorías</a>
          </li>
          <li>
            <a class="link" href="ofertas.html">Ofertas</a>
          </li>
          <li>
            <a class="link" href="tienda.html">Tienda</a>
          </li>
          <li>
            <a class="link" href="gestion.html">Gestión</a>
          </li>
        </ul>
      </div>
      <div class="rig-item">
        <ul class="links">
          <li class="link">
            <a class="izq-item icon-nav" href="config/config.html"
              ><i class="fa-solid fa-circle-user"></i
            ></a>
            Usuario
          </li>
          <li class="link">
            <a class="izq-item icon-nav carrito" href="productos/carrito.html"
              ><i class="fa-solid fa-cart-shopping"></i
              ><span class="carrito-valor">1</span>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <main class="contenido">
        <h2 class="titulo-principal">Gestión</h2>
        <h3 class="subtitulo">Acá podes encontrar nuestros mejores productos</h3>
        <section class="gestion-btn">
          <ul class="links">
            <li class="link">
              <a class="" href="#">Agregar</a>
            </li>
            <li class="link">
              <a class="" href="#">Editar</a>
            </li>
            <li class="link">
              <a class="" href="#">Eliminar</a>
            </li>
          </ul>

        </section>
    </main>
  </body>
</html>  
</body>
</html>